* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  min-height: 100vh; /* will cover the 100% of viewport */
  display: flex;
  flex-direction: column;
}
.main-content {
  padding: 40px 100px;
}

/* header styling */
.header {
  display: flex;
  padding: 30px 100px;
}
.header__left {
  flex: 1;
}
.login__error {
  background: rgb(250, 197, 197);
  color: black;
  font-weight: bold;
  border: 1px solid rgb(233, 164, 164);
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 14px;
}
.header__right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-container {
  border-radius: 4px;
  border: 1px solid rgb(167, 167, 167);
  padding: 3px 7px;
  display: flex;
  width: 260px;
}
.search-container__input {
  padding: 5px;
  border: none;
  outline: none;
  font-size: 17px;
  flex: 1;
}
.search-container__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(167, 167, 167);
  flex-basis: 20px;
}
.menu {
  display: flex;
  list-style-type: none;
}
.sidebar-bars {
  display: none;
  border: none;
  outline: none;
  font-size: 25px;
  background: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu__item {
  font-size: 19px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__item--icon {
  font-size: 24px;
}
.menu__item:last-of-type {
  margin-right: 0px;
}
.menu__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 10px;
  transition: 0.1s;
}
.menu__item a:hover {
  color: rgb(79, 129, 245);
}
.login {
  display: none;
  position: absolute;
  cursor: initial;
  top: 45px;
  left: 0px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  border: 1px solid rgb(218, 217, 217);
  background: white;
  z-index: 100;
}
.login.show {
  display: block;
}
.input-control {
  margin-bottom: 20px;
}
.input-control input,
.input-control textarea {
  min-width: 200px;
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid rgb(167, 167, 167);
  outline: none;
  font-size: 17px;
}
.btn {
  background: rgb(79, 129, 245);
  color: white;
  padding: 8px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}
.btn--large {
  padding: 10px 21px;
  font-size: 17px;
}
.btn-container {
  display: flex;
  justify-content: center;
}
/* Footer */
.footer {
  margin-top: auto;
  border-top: 1px solid rgb(221, 219, 219);
}

.footer__wrap {
  display: flex;
}
.footer__logo {
  flex: 1;
}
.footer__logo img {
  display: block;
  width: 220px;
  height: 170px;
}
.footer__links {
  flex: 1;
  display: flex;
  padding-right: 40px;
  align-items: center;
  justify-content: flex-end;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid rgb(221, 219, 219);
}
.links {
  display: flex;
  list-style-type: none;
}
.links__item {
  margin-right: 20px;
}
.links__item a {
  font-size: 35px;
  text-decoration: none;
}
.links__item--facebook a {
  color: #305891;
}
.links__item--twitter a {
  color: #78cdf0;
}

/* Home page  */

.categories-container {
  margin: 40px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
  margin-top: 40px;
}
.category {
  box-shadow: 0 0 30px rgb(0 0 0 / 10%);
  border: 1px solid rgb(218, 217, 217);
  border-radius: 5px;
  color: black;
}
.category__img-container {
  padding: 15px;
}
.category__img-container img {
  display: block;
  width: 100%;
}
.category__name {
  text-align: center;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: bold;
}
.section-heading {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

/* Contact */
.contact__form {
  width: 400px;
  margin: 0 auto;
}

.success-message {
  padding: 13px;
  font-size: 17px;
  background: rgb(222, 246, 222);
  border-radius: 3px;
  margin-bottom: 20px;
}

@media (max-width: 1155px) {
  .header {
    display: block;
  }
  .header__right {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 20px;
  }
  .header__right {
    justify-content: center;
  }
  .header__left {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 530px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
  .menu__item {
    margin-right: 0px;
  }
  .login {
    left: 50%;
    transform: translateX(-50%);
  }
  .main-content {
    padding: 30px 30px;
  }
}
@media (max-width: 380px) {
  .footer__wrap {
    display: block;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__links {
    justify-content: center;
    padding-right: 0px;
    padding-bottom: 20px;
  }
  .links__item:last-of-type {
    margin-right: 0px;
  }
}
